
<html ng-app="myapp">
<head>
	<title>Angular App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	<script type="text/javascript" src="/app/controller/welcomeController.js" charset="UTF-8"></script>
	<!--<script src="welcomeController.js"></script>-->

	
        
    
</head>
<body ng-controller="TodoController">
<!--	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>-->




	<div class="row">		
		<input ng-model="name">  Hello {{ name }}	
	</di

	<ul>
  <li ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.completed">
    {{ todo.name }}
  </li>
</ul>

	</body>
	</html>


